body{
    background-image: url('https://images.unsplash.com/photo-1498354136128-58f790194fa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGhvbWVwYWdlJTIwYmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
background-size:cover;
    
}

#navbar{
    height: 50px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    /* padding: 10px; */
    border-radius: 20px;
}
h1{
    margin-right: 350px;
    color: brown;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:40px;
}
a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 400px;
    width: 100%;
}

#movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 40px;
    text-align: center;
}
#movies>div{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
label{
    color: red;
    font-weight: bold;
    font-size: 20px;
  

}
#sort-buttons{
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 20px;
  
 
}
#sort-buttons button{
    color: white;
    background-color:orange ;
    border: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
